<div class="policy_wrapper" id="fullpage">
    <div class="landingScreen section" id="home">
        <div class="bgtrans"></div>
        <div class="container">
            <!-- Static navbar -->
            <nav class="navbar navbar-default mb50">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                                    <span class="sr-only">small header</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                        <a class="navbar-brand policy_logo" href="index.html">
                            <!--<img src="static/images/logo.png" alt="" /> -->
                        </a>
                    </div>
                    <div id="navbar" class="navbar-collapse collapse">

                        <ul class="nav navbar-nav " itemscope="" itemtype="http://schema.org/SiteNavigationElement">
                            <li class="dropdown"><a href="life-insurance/index.html" class="dropdown-hover" data-hover="dropdown">Life Insurance</a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a itemprop="url" href="life-insurance/term-insurance/index.html" class="ml-7">
                                            <span itemprop="name">Term Insurance</span>
                                        </a>
                                    </li>
                                    <li class=""><a itemprop="url" href="life-insurance/investment-plans/index.html"><span itemprop="name">Investment Plans</span></a></li>
                                    <li class=""><a itemprop="url" href="life-insurance/child-plans/index.html"><span itemprop="name">Child Plans</span></a></li>
                                    <li><a itemprop="url" href="life-insurance/pension-plans/index.html"><span itemprop="name">Pension Plans</span></a></li>
                                    <li><a itemprop="url" href="life-insurance/ulip-plans/index.html"><span itemprop="name">ULIPs</span></a></li>
                                    <li><a itemprop="url" href="life-insurance/money-back-policy/index.html"><span itemprop="name">Money Back Policy</span></a></li>
                                    <li><a itemprop="url" href="life-insurance/saving-investment-plans/index.html"><span itemprop="name">Tax Saving</span></a></li>
                                    <li><a itemprop="url" href="life-insurance/endowment-policy/index.html"><span itemprop="name">Endowment Policy</span></a></li>
                                </ul>
                            </li>
                            <li class="dropdown"><a itemprop="url" href="health-insurance/health-insurance-india/index.html" class="dropdown-hover" data-hover="dropdown">Health Insurance</a>
                                <ul class="dropdown-menu">
                                    <li><a itemprop="url" href="health-insurance/index.html"><span itemprop="name">Health Plans</span></a></li>
                                    <li><a itemprop="url" href="health-insurance/family-floater-health-insurance/index.html"><span itemprop="name">Family Floater Plans</span></a></li>
                                    <li><a itemprop="url" href="health-insurance/senior-citizen-health-insurance/index.html"><span itemprop="name">Senior Citizen</span></a></li>
                                    <li><a itemprop="url" href="health-insurance/critical-illness-insurance/index.html"><span itemprop="name">Critical Illness</span></a></li>
                                    <li><a itemprop="url" href="health-insurance/mediclaim-insurance/index.html"><span itemprop="name">Mediclaim Policy</span></a></li>
                                </ul>
                            </li>
                            <li class="dropdown"><a itemprop="url" href="motor-insurance/index.html" class="dropdown-hover" data-hover="dropdown">Motor Insurance</a>
                                <ul class="dropdown-menu">
                                    <li><a itemprop="url" href="motor-insurance/car-insurance/index.html"><span itemprop="name">Car Insurance</span></a></li>
                                    <li><a itemprop="url" href="motor-insurance/two-wheeler-insurance/index.html"><span itemprop="name">Two Wheeler Insurance</span></a></li>
                                </ul>
                            </li>
                            <li class="dropdown"><a itemprop="url" href="other-insurance/index.html" class="dropdown-hover" data-hover="dropdown">Other Insurance</a>
                                <ul class="dropdown-menu">
                                    <li><a itemprop="url" href="general-insurance/index.html"><span itemprop="name">General Insurance</span></a></li>
                                    <li><a itemprop="url" href="health-insurance/group-health-insurance/index.html"><span itemprop="name">Group Mediclaim Cover</span></a></li>
                                    <li><a itemprop="url" href="group-insurance/index.html"><span itemprop="name">Corporate Insurance</span></a></li>
                                    <li><a itemprop="url" href="travel-insurance/index.html"><span itemprop="name">Travel Insurance</span></a></li>
                                    <li><a itemprop="url" href="home-insurance/index.html"><span itemprop="name">Home Insurance</span></a></li>
                                    <li><a itemprop="url" href="health-insurance/personal-accident-insurance/index.html"><span itemprop="name">Personal Accident</span></a></li>
                                    <li><a itemprop="url" href="cancer-insurance/index.html"><span itemprop="name">Cancer Insurance</span></a></li>
                                </ul>
                            </li>
                            <li class="dropdown"><a itemprop="url" href="javascript:void(0);" class="dropdown-hover" data-hover="dropdown">Support</a>
                                <ul class="dropdown-menu">
                                    <li><a itemprop="url" href="contact-us/index.html"><span itemprop="name">Contact Us</span></a>

                                    </li>
                                    <li class="number">1800-208-8787<br/><small>[Toll Free Number]</small></li>
                                    <li class="number">+91124-6656507 <br/><small>[For NRIs also]</small></li>
                                    <li><a itemprop="url" href="claim-assistance/index.html"><span itemprop="name">Claim Assistance</span></a></li>
                                    <li><a itemprop="url" href="http://ask.policybazaar.com/"><span itemprop="name">Ask a Question</span></a></li>
                                    <li><a itemprop="url" target="_blank" href="http://care.policybazaar.com/support/tickets/new"><span itemprop="name">Register a Complaint</span></a></li>
                                </ul>
                            </li>
                            <li><a itemprop="url" href="http://myacc.policybazaar.com/">Login</a></li>
                        </ul>

                    </div>
                    <!--/.nav-collapse -->
                </div>
                <!--/.container-fluid -->
            </nav>

            <div class="row">
                <div class="col-md-12 mrnone">
                    <h1 class="bestSite_text">Free, Anonymous <strong>Insurance Quotations</strong></h1>
                    <!--  <h3>Compare, Buy & Save on all your Insurance needs</h3>  -->

                    <div class="all_service_tab">
                        <a onclick="RedirectUrlHomeProduct('http://termlife.policybazaar.com/');getClickv3(1, 'Term_Click')" href="javascript:void(0);" class="circleTab v3term"><span>Life</span></a>
                        <a onclick="RedirectUrlHomeProduct('http://health.policybazaar.com/');getClickv3(1, 'Health_Click')" href="javascript:void(0);" class="circleTab v3health"><span>Health</span></a>
                        <a onclick="RedirectUrlHomeProduct('http://car.policybazaar.com/');getClickv3(1, 'Car_Click')" href="javascript:void(0);" class="circleTab v3car"><span>Car</span></a>
                        <a onclick="RedirectUrlHomeProduct('http://investmentlife.policybazaar.com/#/?planType=1');getClickv3(1, 'Investment_Click')" href="javascript:void(0);" class="circleTab v3investment"><span>Boat</span></a>
                        <a onclick="RedirectUrlHomeProduct('http://twowheeler.policybazaar.com/');getClickv3(1, 'TwoWheeler_Click')" href="javascript:void(0);" class="circleTab v3twowheeler"><span>Bike</span></a>
                        <a onclick="RedirectUrlHomeProduct('http://travel.policybazaar.com/');getClickv3(1, 'Travel_Click')" href="javascript:void(0);" class="circleTab v3travel"><span>Travel</span></a>
                        <a onclick="RedirectUrlHomeProduct('http://investmentlife.policybazaar.com/#/?planType=1');getClickv3(1, 'TaxSaving_Click')" href="javascript:void(0);" class="circleTab v3taxsaving"><span>TPD</span></a>
                        <a onclick="RedirectUrlHomeProduct('http://investmentlife.policybazaar.com/#/?planType=3');getClickv3(1, 'Child_Click')" href="javascript:void(0);" class="circleTab v3child"><span>Child</span></a>
                        <a onclick="RedirectUrlHomeProduct('http://investmentlife.policybazaar.com/#/?planType=2');getClickv3(1, 'Retirement_Click')" href="javascript:void(0);" class="circleTab v3retirement"><span>Funeral</span></a>
                        <a onclick="RedirectUrlHomeProduct('http://cancerinsurance.policybazaar.com/ci');getClickv3(1, 'CancerCare_Click')" href="javascript:void(0);" class="circleTab v3cancercare"><span>Landlord</span></a>
                        <a onclick="RedirectUrlHomeProduct('http://insurance.policybazaar.com/home-insurance/home-insurance-india.aspx');getClickv3(1, 'HomeInsurance_Click')" href="javascript:void(0);" class="circleTab v3home"><span>Home</span></a>

                        <div class="otheruseful_links">
                            <span>Also See :</span>
                            <a href="health-insurance/group-health-insurance/index.html" class="typeAbtn">Group Mediclaim</a>
                            <a href="group-insurance/index.html" class="typeBbtn">Corporate Insurance</a>
                        </div>
                        <div class="otheruseful_links pblink">
                            <span>Group Companies :</span><span class="bplable"><i class="fa fa-circle" aria-hidden="true"></i>Paisabazaar :</span>
                            <a href="http://www.paisabazaar.com/personal-loan/?utm_source=policybazaar&amp;utm_medium=home_page_product_icon&amp;utm_title=loans" class="typeBbtn loans" target="_blank">Loan<span> (Paisabazaar)</span></a>
                            <a href="http://www.paisabazaar.com/credit-card/?utm_source=policybazaar&amp;utm_medium=home_page_product_icon&amp;utm_title=credit_card" class="typeCbtn " target="_blank">Credit Card<span> (Paisabazaar)</span></a>
                            <a href="http://www.etechaces.com/" class="typeAbtn etech" target="_blank"><i class="fa fa-circle" aria-hidden="true"></i>Etechaces</a>
                        </div>


                    </div>

                </div>
            </div>
        </div>
    </div>