<!-- Static navbar -->
<nav class="navbar navbar-default navbar-fixed-top headerColor">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                                    <span class="sr-only">small header</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>

        </div>
        <div id="navbar-static" class="navbar-collapse collapse">

            <ul class="nav navbar-nav navbar-right" itemscope="" itemtype="http://schema.org/SiteNavigationElement">
                <li class="dropdown"><a href="life-insurance/index.html" class="dropdown-hover" data-hover="dropdown">Life Insurance</a>
                    <ul class="dropdown-menu">
                        <li>
                            <a itemprop="url" href="life-insurance/term-insurance/index.html" class="ml-7">
                                <span itemprop="name">Term Insurance</span>
                            </a>
                        </li>

                        <li class=""><a itemprop="url" href="life-insurance/investment-plans/index.html"><span itemprop="name">Investment Plans</span></a></li>
                        <li class=""><a itemprop="url" href="life-insurance/child-plans/index.html"><span itemprop="name">Child Plans</span></a></li>
                        <li><a itemprop="url" href="life-insurance/pension-plans/index.html"><span itemprop="name">Pension Plans</span></a></li>
                        <li><a itemprop="url" href="life-insurance/ulip-plans/index.html"><span itemprop="name">ULIPs</span></a></li>
                        <li><a itemprop="url" href="life-insurance/money-back-policy/index.html"><span itemprop="name">Money Back Policy</span></a></li>
                        <li><a itemprop="url" href="life-insurance/saving-investment-plans/index.html"><span itemprop="name">Tax Saving</span></a></li>
                        <li><a itemprop="url" href="life-insurance/endowment-policy/index.html"><span itemprop="name">Endowment Policy</span></a></li>
                    </ul>
                </li>
                <li class="dropdown"><a itemprop="url" href="health-insurance/health-insurance-india/index.html" class="dropdown-hover" data-hover="dropdown">Health Insurance</a>
                    <ul class="dropdown-menu">
                        <li><a itemprop="url" href="health-insurance/index.html"><span itemprop="name">Health Plans</span></a></li>
                        <li><a itemprop="url" href="health-insurance/family-floater-health-insurance/index.html"><span itemprop="name">Family Floater Plans</span></a></li>
                        <li><a itemprop="url" href="health-insurance/senior-citizen-health-insurance/index.html"><span itemprop="name">Senior Citizen</span></a></li>
                        <li><a itemprop="url" href="health-insurance/critical-illness-insurance/index.html"><span itemprop="name">Critical Illness</span></a></li>
                        <li><a itemprop="url" href="health-insurance/mediclaim-insurance/index.html"><span itemprop="name">Mediclaim Policy</span></a></li>
                    </ul>
                </li>
                <li class="dropdown"><a itemprop="url" href="motor-insurance/index.html" class="dropdown-hover" data-hover="dropdown">Motor Insurance</a>
                    <ul class="dropdown-menu">
                        <li><a itemprop="url" href="motor-insurance/car-insurance/index.html"><span itemprop="name">Car Insurance</span></a></li>
                        <li><a itemprop="url" href="motor-insurance/two-wheeler-insurance/index.html"><span itemprop="name">Two Wheeler Insurance</span></a></li>
                    </ul>
                </li>
                <li class="dropdown"><a itemprop="url" href="other-insurance/index.html" class="dropdown-hover" data-hover="dropdown">Other Insurance</a>
                    <ul class="dropdown-menu">
                        <li><a itemprop="url" href="general-insurance/index.html"><span itemprop="name">General Insurance</span></a></li>
                        <li><a itemprop="url" href="health-insurance/group-health-insurance/index.html"><span itemprop="name">Group Mediclaim Cover</span></a></li>
                        <li><a itemprop="url" href="group-insurance/index.html"><span itemprop="name">Corporate Insurance</span></a></li>
                        <li><a itemprop="url" href="travel-insurance/index.html"><span itemprop="name">Travel Insurance</span></a></li>
                        <li><a itemprop="url" href="home-insurance/index.html"><span itemprop="name">Home Insurance</span></a></li>
                        <li><a itemprop="url" href="health-insurance/personal-accident-insurance/index.html"><span itemprop="name">Personal Accident</span></a></li>
                        <li><a itemprop="url" href="cancer-insurance/index.html"><span itemprop="name">Cancer Insurance</span></a></li>
                    </ul>
                </li>
                <li class="dropdown"><a itemprop="url" href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">Support</a>
                    <ul class="dropdown-menu">
                        <li><a itemprop="url" href="contact-us/index.html"><span itemprop="name">Contact Us</span></a>

                        </li>
                        <li class="number">1800-208-8787<br/><small>[Toll Free Number]</small></li>
                        <li class="number">+91124-6656507 <br/><small>[For NRIs also]</small></li>
                        <li><a itemprop="url" href="claim-assistance/index.html"><span itemprop="name">Claim Assistance</span></a></li>
                        <li><a itemprop="url" href="http://ask.policybazaar.com/"><span itemprop="name">Ask a Question</span></a></li>
                        <li><a itemprop="url" target="_blank" href="http://care.policybazaar.com/support/tickets/new"><span itemprop="name">Register a Complaint</span></a></li>
                    </ul>
                </li>
                <li><a itemprop="url" href="http://myacc.policybazaar.com/">Login</a></li>
            </ul>
        </div>
        <!--/.nav-collapse -->
    </div>
    <!--/.container-fluid -->
</nav>

<!--End Static navbar -->