<div class="footer-space"></div>
<footer class="push" role="contentinfo">
    <section class="sign-up-block highlighted">

        <div aria-hidden="false" class="content inactive_session">
            <h3>Set up in seconds, save hours </h3><button class="button-primary sign-up" name="sign-up">Sign up for free</button>
        </div>

    </section>
    <div class="content">
        <nav class="product">
            <dl>
                <dt>Product</dt>
                <dd>
                    <a href="product.html">Features</a>
                </dd>
                <dd>
                    <a href="enterprise.html">Privacy</a>
                </dd>
                <dd>
                    <a href="pricing.html">How it works</a>
                </dd>
                <dd>
                    <a href="databases.html">Mobile</a>
                </dd>
            </dl>
        </nav>
        <nav class="features">
            <dl>
                <dt>Features</dt>
                <dd>
                    <a href="product.html">Quotes</a>
                </dd>
                <dd>
                    <a href="elements/integrations.html">Offers</a>
                </dd>
                <dd>
                    <a href="elements/taps.html">Community</a>
                </dd>
                <dd>
                    <a href="databases.html">Services</a>
                </dd>
            </dl>
        </nav>

        <nav class="resources">
            <dl>
                <dt>Resources</dt>
                <dd>
                    <a href="support.html">Support</a>
                </dd>
                <dd>
                    <a href="documentation.html">Documentation</a>
                </dd>
                <dd>
                    <a href="quick-start.html">Quick start</a>
                </dd>
                <dd>
                    <a href="faq.html">FAQs</a>
                </dd>
            </dl>
        </nav>
        <nav class="company">
            <dl>
                <dt>Company</dt>
                <dd>
                    <a href="about.html">About Us</a>
                </dd>
                <dd>
                    <a href="contact.html">Contact us</a>
                </dd>
                <dd>
                    <a href="careers.html">Careers</a>
                </dd>
                <dd>
                    <a href="blog.html">Blog</a>
                </dd>
            </dl>
        </nav>
        <nav class="newsletter">
            <dl>
                <dt>Newsletter</dt>
                <dd>Stay in the know with NoHassls</dd>
                <dd>
                    <form action="https://myrskyt.com/newsletter" method="post">
                        <input aria-label="Email" class="email" name="email" placeholder="Enter your email address" required="required" type="email">
                        <button class="button-start" type="submit">Submit</button>
                    </form>
                </dd>
                <dd aria-hidden="true" class="newsletter-response hidden">Thank you for signing up to our newsletter. You'll now be kept up to date with what's happening here at <span class="moltin">NoHassls</span> and the future of insurance.</dd>
            </dl>
        </nav>
    </div>
    <div class="sub-footer">
        <div class="content">
            <nav class="social">
                <ul>
                    <li>
                        <a aria-label="Nohassls on Twitter" href="https://twitter.com/Nohassls" target="_blank"><svg height="30px" viewbox="0 0 30 30" width="30px"
							xmlns="http://www.w3.org/2000/svg">
							<path d=
							"M30,5.6c-1.1,0.5-2.3,0.8-3.5,1c1.3-0.8,2.2-2,2.7-3.4c-1.2,0.7-2.5,1.2-3.9,1.5c-1.1-1.2-2.7-1.9-4.5-1.9 c-3.4,0-6.2,2.8-6.2,6.2c0,0.5,0.1,1,0.2,1.4C9.7,10,5.1,7.6,2.1,3.8c-0.5,0.9-0.8,2-0.8,3.1c0,2.1,1.1,4,2.7,5.1 c-1,0-2-0.3-2.8-0.8c0,0,0,0.1,0,0.1c0,3,2.1,5.5,4.9,6c-0.5,0.1-1.1,0.2-1.6,0.2c-0.4,0-0.8,0-1.2-0.1c0.8,2.4,3.1,4.2,5.7,4.3 c-2.1,1.7-4.8,2.6-7.6,2.6c-0.5,0-1,0-1.5-0.1c2.7,1.7,6,2.8,9.4,2.8c11.3,0,17.5-9.4,17.5-17.5c0-0.3,0-0.5,0-0.8 C28.1,7.9,29.2,6.8,30,5.6z"
							fill="currentColor" id="twitter"></path></svg></a>
                    </li>
                    <li>
                        <a aria-label="Nohassls on GitHub" href="https://github.com/Nohassls" target="_blank"><svg height="30px" viewbox="0 0 30 30" width="30px"
							xmlns="http://www.w3.org/2000/svg">
							<path d=
							"M0.6,15.3c0,6.4,4.1,11.8,9.8,13.8c0.7,0.1,1-0.3,1-0.7c0-0.3,0-1.3,0-2.5c-4,0.9-4.9-1.9-4.9-1.9 C5.9,22.3,5,21.9,5,21.9C3.7,21,5.1,21,5.1,21c1.4,0.1,2.2,1.5,2.2,1.5c1.3,2.2,3.4,1.6,4.2,1.2c0.1-0.9,0.5-1.6,0.9-1.9 c-3.2-0.4-6.6-1.6-6.6-7.2c0-1.6,0.6-2.9,1.5-3.9c-0.1-0.4-0.6-1.8,0.1-3.8c0,0,1.2-0.4,4,1.5C12.5,8,13.8,7.9,15,7.9 c1.2,0,2.5,0.2,3.6,0.5c2.7-1.9,4-1.5,4-1.5c0.8,2,0.3,3.5,0.1,3.8c0.9,1,1.5,2.3,1.5,3.9c0,5.6-3.4,6.8-6.6,7.2 c0.5,0.4,1,1.3,1,2.7c0,1.9,0,3.5,0,4c0,0.4,0.3,0.8,1,0.7c5.7-1.9,9.8-7.4,9.8-13.8c0-8-6.4-14.5-14.4-14.5C7,0.8,0.6,7.3,0.6,15.3 z"
							fill="currentColor" id="octocat"></path></svg></a>
                    </li>
                    <li>
                        <a aria-label="Nohassls on Facebook" href="https://www.facebook.com/Nohassls" target="_blank"><svg height="30px"
							viewbox="0 0 30 30" width="30px" xmlns="http://www.w3.org/2000/svg">
							<path d=
							"M2.2,0.6c-0.9,0-1.6,0.7-1.6,1.6v25.6c0,0.9,0.7,1.6,1.6,1.6H16V18.2h-3.8v-4.3H16v-3.2 c0-3.7,2.3-5.7,5.6-5.7c1.6,0,3,0.1,3.4,0.2V9l-2.3,0c-1.8,0-2.2,0.9-2.2,2.1v2.8h4.3l-0.6,4.3h-3.7v11.2h7.3c0.9,0,1.6-0.7,1.6-1.6 V2.2c0-0.9-0.7-1.6-1.6-1.6C27.8,0.6,2.2,0.6,2.2,0.6z"
							fill="currentColor" id="facebook"></path></svg></a>
                    </li>
                    <li>
                        <a aria-label="Nohassls on Instagram" href="https://www.instagram.com/Nohassls/" target="_blank"><svg height=
							"30px" viewbox="0 0 30 30" width="30px" xmlns=
							"http://www.w3.org/2000/svg">
							<path d=
							"M26,29.4H3.9c-1.8,0-3.3-1.5-3.3-3.3V3.9c0-1.8,1.5-3.3,3.3-3.3H26c1.8,0,3.3,1.5,3.3,3.3V26 C29.4,27.9,27.9,29.4,26,29.4z M15,9.4c-3.1,0-5.5,2.5-5.5,5.5c0,3.1,2.5,5.5,5.5,5.5s5.5-2.5,5.5-5.5C20.5,11.9,18,9.4,15,9.4z M26,5c0-0.6-0.5-1.1-1.1-1.1h-3.3c-0.6,0-1.1,0.5-1.1,1.1v3.3c0,0.6,0.5,1.1,1.1,1.1h3.3c0.6,0,1.1-0.5,1.1-1.1C26,8.3,26,5,26,5z M26,12.8h-2.5c0.2,0.7,0.3,1.5,0.3,2.2c0,4.9-4,8.9-8.9,8.9c-4.9,0-8.9-4-8.9-8.9c0-0.8,0.1-1.5,0.3-2.2H3.9v12.2 C3.9,25.5,4.4,26,5,26h19.9c0.6,0,1.1-0.5,1.1-1.1C26,24.9,26,12.8,26,12.8z"
							fill="currentColor" id="instagram"></path></svg></a>
                    </li>
                </ul>
            </nav>
            <nav class="legal">
                <ul>
                    <li>
                        <a href="terms.html">Terms of Service</a>
                    </li>
                    <li>
                        <a href="privacy.html">Privacy Policy</a>
                    </li>
                </ul>
                <div class="rights">
                    <p>&copy; <span class="moltin">NoHassls</span>
                        <script type="text/javascript">
                            document.write(new Date().getFullYear());
                        </script>
                    </p>
                </div>
            </nav>
        </div>
    </div>
</footer>


<div aria-hidden="true" class="accounts-log-in content highlighted hidden" id="accounts-log-in" role="dialog">
    <button aria-label="close" class="close overlay" id="close-log-in"><span class="icon">&times;</span></button>
    <div aria-hidden="true" aria-labelledby="login-header" class="form-wrap log-in-step log-in-details">
        <h2 id="login-header">Log in to your <span class="moltin">NoHassls</span> account
        </h2>
        <form action="https://myrskyt.com/login" id="form" method="post" novalidate="">
            <div class="input-wrap">
                <input aria-label="username" class="email" name="username" placeholder="Username" required="required" type="text">
            </div>
            <div class="input-wrap">
                <input aria-label="Password" class="password" data-validate="ignore" name="password" placeholder="Password" required="required" type="password">
            </div><button type="submit">Log in</button>
        </form>
    </div>
    <div aria-hidden="true" aria-labelledby="login-header2" class="item-container four cards log-in-step log-in-onboarding hidden" tabindex="0">
        <div class="content">
            <h2 id="login-header2">Welcome back to <span class="moltin">NoHassls</span></h2>
            <div class="items-wrapper">
                <div class="item">
                    <a href="dashboard.html" tabindex="0" target="_blank"><img alt="Forge eCommerce dashboard" src="/static/img/icons/hexagon/dash-dark.png">
                        <h3>Dashboard</h3>
                        <p>Manage, approve quotations and more.</p>
                    </a>
                </div>
                <div class="item">
                    <a href="quick-start.html" tabindex="0"><img alt="eCommerce API quick starts" src="/static/img/icons/hexagon/rocket-dark.png">
                        <h3>Quick starts</h3>
                        <p>If you haven't already, get started quickly with our guides.
                        </p>
                    </a>
                </div>
                <div class="item">
                    <a href="documentation.html" tabindex="0" target="_blank"><img alt="eCommerce API documentation" src="/static/img/icons/hexagon/docs-dark.png">
                        <h3>Documentation</h3>
                        <p>Get information about our dashboard, features and how to use them.</p>
                    </a>
                </div>
                <div class="item">
                    <a href="error.html" tabindex="0" target="_blank"><img alt="Account management" src="/static/img/icons/hexagon/management-dark.png">
                        <h3>Profile</h3>
                        <p>Manage your account, packages and personal details.</p>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<div aria-hidden="true" class="accounts-sign-up content highlighted hidden" id="accounts-sign-up" role="dialog">
    <button aria-label="close" class="close overlay" id="close-sign-up"><span class="icon">&times;</span></button>
    <div aria-describedby="signup-terms" aria-hidden="true" aria-labelledby="signup-header1" class="form-wrap sign-up-step sign-up-details hidden">
        <h2 id="signup-header1">Sign up for a <span class="moltin">NoHassls</span> account
        </h2>

        <form action="https://myrskyt.com/register" id="form" method="post" novalidate="">
            <div class="input-wrap">
                <input aria-label="Name" class="name" name="username" placeholder="Name *" required="required" type="text">
            </div>
            <div class="input-wrap">
                <input aria-label="Email" class="email" name="email" placeholder="Email *" required="required" type="email">
            </div>
            <div class="input-wrap">
                <input aria-label="Password" class="password" name="password" placeholder="Password *" required="required" type="password">
            </div>
            <div class="input-wrap">
                <input aria-label="Password" class="password" name="password_confirmation" placeholder="Confirm Password *" required="required" type="password">
            </div><button type="submit">Sign up</button>
        </form>
        <p class="small" id="signup-terms">By signing up for an account you agree to our <a href="terms.html">terms and conditions</a></p>
    </div>
    <div aria-describedby="signup-onboarding-copy" aria-hidden="true" aria-labelledby="signup-header2" class="item-container four cards sign-up-step sign-up-onboarding hidden" tabindex="0">
        <div class="content">
            <h2 id="signup-header2">Welcome to <span class="moltin">Nohassls</span></h2>
            <p id="signup-onboarding-copy">Your account and dashboard has been created.<br> Choose what to do next.</p>
            <div class="items-wrapper">
                <div class="item">
                    <a href="dashboard.html" tabindex="0" target="_blank"><img alt="Forge eCommerce dashboard" src="/static/img/icons/hexagon/dash-dark.png">
                        <h3>Dashboard</h3>
                        <p>Manage quotation requests and more.</p>
                    </a>
                </div>
                <div class="item">
                    <a href="quick-start.html" tabindex="0"><img alt="eCommerce API quick starts" src="/static/img/icons/hexagon/rocket-dark.png">
                        <h3>Quick starts</h3>
                        <p>If you haven't already, get started quickly with our guides.
                        </p>
                    </a>
                </div>
                <div class="item">
                    <a href="documentation.html" tabindex="0" target="_blank"><img alt="eCommerce API documentation" src="/static/img/icons/hexagon/docs-dark.png">
                        <h3>Documentation</h3>
                        <p>Get information about our dashboard, features and how to use them.</p>
                    </a>
                </div>
                <div class="item">
                    <a href="error.html" tabindex="0" target="_blank"><img alt="Account management" src="/static/img/icons/hexagon/management-dark.png">
                        <h3>Profile</h3>
                        <p>Manage your account, packages, and personal details.</p>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/static/js/production.min.js">
</script>
</body>


</html>