<!--[if lte IE 8 ]><html class="ie8 ie" xml:lang="en" lang="en"><![endif]-->
<!--[if IE 9 ]><html class="ie9 ie" xml:lang="en" lang="en"><![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<!DOCTYPE html>
<html lang="en">
<!--<![endif]-->

<head>
    <meta charset="UTF-8">
    <meta content="initial-scale=1, width=device-width, minimal-ui" name="viewport">
    <meta content="#174266" name="theme-color">
    <link href="feed.html" rel="alternate" title="moltin RSS" type="application/rss+xml">
    <title>Client Dash | NoHassls</title>
    <meta name="description" content="An innovative platform for users to obtain quotations without giving away all their information">

    <meta content="Client Dash | NoHassls" property="og:title">
    <meta name="description" content="An innovative platform for users to obtain quotations without giving away all their information.">
    <meta content="https://nohassls.com/" property="og:url">
    <meta content="NoHassls" property="og:site_name">
    <meta content="website" property="og:type">

    <meta content="Client Dash | NoHassls" property="twitter:title">
    <meta content="An innovative platform for users to obtain quotations without giving away all their information." property="twitter:description">
    <meta content="@nohassls" name="twitter:site">
    <meta content="summary_large_image" name="twitter:card">
    <meta content="@nohassls" name="twitter:creator">

    <meta content="Client Dash | NoHassls" name="twitter:image:alt">

    <link href="httsp://nohassls.com/" rel="canonical">
    <link rel="shortcut icon" type="image/x-icon" href="static/img/favicon.html">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,400italic,700' rel='stylesheet' type='text/css'>
    <link href="/static/css/new.css" media="screen" rel="stylesheet">
    <link href="/static/css/font-awesome.min.css" media="screen" rel="stylesheet">
    <!-- <script src="../cdn.optimizely.com/js/2488100088.js"> -->
    </script>
</head>