<div class="banner-block" role="banner">
    <div class="content container">
        <div class="banner-text">
            <h1>Quick Quotes</h1>
            <p>Visit our control centres below to explore.</p>
        </div>
    </div>
</div>
<div class="linked-list-container two">
    <div class="content">
        <div class="list">

            <div class="list-item">
                <a href="/health"><img alt="JavaScript" src="static/img/svg/languages/js.svg">
                    <div class="list-text">
                        <h2>Health</h2>
                        <p>Find deals, manage quotes and find everything health insurance related here.</p>
                    </div>
                </a>
            </div>

            <div class="list-item">
                <a href="/life"><img alt="PHP" src="static/img/svg/languages/php.svg">
                    <div class="list-text">
                        <h2>Life</h2>
                        <p>Find the best life insurance deals.</p>
                    </div>
                </a>
            </div>

            <div class="list-item">
                <a href="/travel"><img alt="NodeJS" src="static/img/svg/languages/node.svg">
                    <div class="list-text">
                        <h2>Travel</h2>
                        <p>Find the best travel insurance deals.</p>
                    </div>
                </a>
            </div>

            <div class="list-item">
                <a href="/home"><img alt="Ruby" src="static/img/svg/languages/ruby.svg">
                    <div class="list-text">
                        <h2>Home</h2>
                        <p>Find the best home insurance deals.</p>
                    </div>
                </a>
            </div>

            <div class="list-item">
                <a href="/car"><img alt="Python" src="static/img/svg/languages/python.svg">
                    <div class="list-text">
                        <h2>Car</h2>
                        <p>Find the best car insurance deals.</p>
                    </div>
                </a>
            </div>

            <div class="list-item">
                <a href="/bike"><img alt="Scala" src="static/img/instances/scala.svg">
                    <div class="list-text">
                        <h2>Motorcycle</h2>
                        <p>Find the best motorcycle insurance deals.</p>
                    </div>
                </a>
            </div>

            <div class="list-item">
                <a href="/boat"><img alt="Clojure" src="static/img/instances/scala.svg">
                    <div class="list-text">
                        <h2>Boat</h2>
                        <p>Find the best boat insurance deals.</p>
                    </div>
                </a>
            </div>

            <div class="list-item">
                <a href="/landlord"><img alt="Go" src="static/img/instances/go.svg">
                    <div class="list-text">
                        <h2>LandLord</h2>
                        <p>Find the best landlord insurance deals.</p>
                    </div>
                </a>
            </div>

            <div class="list-item">
                <a href="/funeral"><img alt="Gradle" src="static/img/instances/scala.svg">
                    <div class="list-text">
                        <h2>Funeral</h2>
                        <p>Find the best funeral insurance deals.</p>
                    </div>
                </a>
            </div>
            <div class="list-item">
                <a href="/tpd"><img alt="Gradle" src="static/img/instances/scala.svg">
                    <div class="list-text">
                        <h2>TPD</h2>
                        <p>Find the best TPD insurance deals.</p>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
</header>
<main id="container" role="main">
    <section class="item-container three blocks more-help">
        <div class="content">
            <h2>More resources...</h2>
            <div class="items-wrapper">
                <div class="item">
                    <h3>Documentation</h3>
                    <p>Get in depth details about Myrskyt, how the platform works and how to make the most of it.</p><a class="button button-primary" href="documentation.html" target="_blank">Learn more</a>
                </div>
                <div class="item">
                    <h3>Help &amp; Support</h3>
                    <p>All the help and support you need it available via our support team.</p><a class="button button-primary" href="support.html">Resources</a>
                </div>
                <div class="item">
                    <h3>Community Hub</h3>
                    <p>Connect and chat to existing Myrskyt users via our Slack channel.
                    </p><a class="button button-primary" href="resources.html#myrskyt-hub">Join the hub</a>
                </div>
            </div>
        </div>
    </section>
</main>
<div class="footer-space"></div>