<body>
    <button aria-controls="nav-toggle" aria-expanded="false" aria-label="Open menu" class="menu-btn nav-toggle light" id="nav-toggle"><svg version=
	"1.1" viewbox="0 0 36 36" xmlns="http://www.w3.org/2000/svg">
	<g class="menu-bars">
		<path class="top" d=
		"M36,4.5c0,-1.38 -1.12,-2.5 -2.5,-2.5l-31,0c-1.38,0 -2.5,1.12 -2.5,2.5c0,1.38 1.12,2.5 2.5,2.5l31,0c1.38,0 2.5,-1.12 2.5,-2.5Z"
		fill="currentColor"></path>
		<path class="middle" d=
		"M36,18c0,-1.38 -1.12,-2.5 -2.5,-2.5l-31,0c-1.38,0 -2.5,1.12 -2.5,2.5c0,1.38 1.12,2.5 2.5,2.5l31,0c1.38,0 2.5,-1.12 2.5,-2.5Z"
		fill="currentColor"></path>
		<path class="bottom" d=
		"M36,31.5c0,-1.38 -1.12,-2.5 -2.5,-2.5l-31,0c-1.38,0 -2.5,1.12 -2.5,2.5c0,1.38 1.12,2.5 2.5,2.5l31,0c1.38,0 2.5,-1.12 2.5,-2.5Z"
		fill="currentColor"></path>
	</g></svg></button>
    <nav aria-hidden="true" aria-label="Menu" class="pushy pushy-right" id="mobile-nav" role="navigation">
        <ul>
            <li class="pushy-link">
                <a href="product.html">Features</a>
            </li>
            <li class="pushy-link">
                <a href="documentation.html">Documentation</a>
            </li>
            <li class="pushy-link">
                <a href="contact.html">Contact</a>
            </li>
            <li class="pushy-link">
                <a href="about.html">About Us</a>
            </li>
            <li class="pushy-link">
                <a href="blog.html">Blog</a>
            </li>
            <li class="pushy-link">
                <a href="faq.html">FAQs</a>
            </li>
            <li class="pushy-link">
                <a href="http://status.myrskyt.com/">Status</a>
            </li>
        </ul>
    </nav>
    <div class="site-overlay"></div>
    <div class="account-overlay"></div>
    <header class="header push {{if .headerclass}} {{.headerclass}} {{else}} homepage-header {{end}} curve-bottom-1 light" data-gradient="3" role="banner">
        <div class="content nav">
            <!--   <a aria-label="myrskyt" class="logo" href="index.html">
                <img src=""></a> -->
            <nav aria-label="Main menu" class="primary-nav" id="primary-nav" role="navigation">
                <ul>
                    <li class="pushy-link">
                        <a href="/">Home</a>
                    </li>
                    <li class="pushy-link">
                        <a href="product.html">Quotes</a>
                    </li>
                    <li class="pushy-link">
                        <a href="pricing.html">Offers</a>
                    </li>
                    <li class="pushy-link">

                        <a href="elements.html">Community</a>
                    </li>

                </ul>
            </nav>

            <nav aria-label="Secondary menu" class="utility" id="utility-nav" role="navigation">
                <ul>
                    <li>
                        <a href="documentation.html" target="_blank">Documentation</a>
                    </li>

                    <li aria-hidden="false" class="inactive_session">
                        <a class="log-in" href="#">Log in</a>
                    </li>
                    <li aria-hidden="false" class="inactive_session sign-up-li"><button class="button-primary sign-up" name="sign-up">Sign Up</button></li>

                </ul>
            </nav>
        </div>