<div class="banner-block" role="banner">
    <div class="content container">
        <div class="banner-text">
            <h1>Home Insurance Control Centre</h1>
            <p>Visit our control centres below to explore.</p>
        </div>
    </div>
</div>

<div class="linked-list-container two">
    <div class="content">
        <div class="list">

            <div class="list-item" style="background-image: url('static/img/backgrounds/careers.jpg')">
                <a href="health"><img alt="JavaScript" src="/static/img/svg/languages/js.svg">
                    <div class="list-text">
                        <h2>Health</h2>
                        <p>Find deals, manage quotes and find everything health insurance related here.</p>
                    </div>
                </a>
            </div>
            <div class="list-item" style="background-image: url('static/img/backgrounds/careers.jpg')">
                <a href="health"><img alt="JavaScript" src="/static/img/svg/languages/js.svg">
                    <div class="list-text">
                        <h2>Health</h2>
                        <p>Find deals, manage quotes and find everything health insurance related here.</p>
                    </div>
                </a>
            </div>
            <div class="list-item" style="background-image: url('static/img/backgrounds/careers.jpg')">
                <a href="health"><img alt="JavaScript" src="/static/img/svg/languages/js.svg">
                    <div class="list-text">
                        <h2>Health</h2>
                        <p>Find deals, manage quotes and find everything health insurance related here.</p>
                    </div>
                </a>
            </div>
            <div class="list-item" style="background-image: url('static/img/backgrounds/careers.jpg')">
                <a href="health"><img alt="JavaScript" src="/static/img/svg/languages/js.svg">
                    <div class="list-text">
                        <h2>Health</h2>
                        <p>Find deals, manage quotes and find everything health insurance related here.</p>
                    </div>
                </a>
            </div>
            <div class="list-item" style="background-image: url('static/img/backgrounds/careers.jpg')">
                <a href="health"><img alt="JavaScript" src="/static/img/svg/languages/js.svg">
                    <div class="list-text">
                        <h2>Health</h2>
                        <p>Find deals, manage quotes and find everything health insurance related here.</p>
                    </div>
                </a>
            </div>
            <div class="list-item" style="background-image: url('static/img/backgrounds/careers.jpg')">
                <a href="health"><img alt="JavaScript" src="/static/img/svg/languages/js.svg">
                    <div class="list-text">
                        <h2>Health</h2>
                        <p>Find deals, manage quotes and find everything health insurance related here.</p>
                    </div>
                </a>
            </div>
            <div class="list-item" style="background-image: url('static/img/backgrounds/careers.jpg')">
                <a href="health"><img alt="JavaScript" src="/static/img/svg/languages/js.svg">
                    <div class="list-text">
                        <h2>Health</h2>
                        <p>Find deals, manage quotes and find everything health insurance related here.</p>
                    </div>
                </a>
            </div>
            <div class="list-item" style="background-image: url('static/img/backgrounds/careers.jpg')">
                <a href="health"><img alt="JavaScript" src="/static/img/svg/languages/js.svg">
                    <div class="list-text">
                        <h2>Health</h2>
                        <p>Find deals, manage quotes and find everything health insurance related here.</p>
                    </div>
                </a>
            </div>
            <div class="list-item" style="background-image: url('static/img/backgrounds/careers.jpg')">
                <a href="health"><img alt="JavaScript" src="/static/img/svg/languages/js.svg">
                    <div class="list-text">
                        <h2>Health</h2>
                        <p>Find deals, manage quotes and find everything health insurance related here.</p>
                    </div>
                </a>
            </div>
            <div class="list-item" style="background-image: url('static/img/backgrounds/careers.jpg')">
                <a href="health"><img alt="JavaScript" src="/static/img/svg/languages/js.svg">
                    <div class="list-text">
                        <h2>Health</h2>
                        <p>Find deals, manage quotes and find everything health insurance related here.</p>
                    </div>
                </a>
            </div>
            <div class="list-item" style="background-image: url('static/img/backgrounds/careers.jpg')">
                <a href="health"><img alt="JavaScript" src="/static/img/svg/languages/js.svg">
                    <div class="list-text">
                        <h2>Health</h2>
                        <p>Find deals, manage quotes and find everything health insurance related here.</p>
                    </div>
                </a>
            </div>
            <div class="list-item">
                <a href="quick-start/PHP.html"><img alt="PHP" src="/static/img/svg/languages/php.svg">
                    <div class="list-text">
                        <h2>Life</h2>
                        <p>Find the best life insurance deals.</p>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>

</header>