<div class="banner-block" role="banner">
    <div class="content container">
        <div class="banner-text">
            <h1>Health Insurance Control Centre</h1>
            <p>Visit our control centres below to explore.</p>
        </div>
    </div>
</div>

<div class="linked-list-container two" style="height:90vh;">
    <div class="content">
        <div class="list">

            <div class="list-item" style="background-image: url('static/img/backgrounds/careers.jpg')">
                <a href="/health/profile"><img alt="JavaScript" src="/static/img/svg/languages/js.svg">
                    <div class="list-text">
                        <h2>Profile</h2>
                        <p>Find deals, manage quotes and find everything health insurance related here.</p>
                    </div>
                </a>
            </div>
            <div class="list-item" style="background-image: url('static/img/backgrounds/careers.jpg')">
                <a href="health"><img alt="JavaScript" src="/static/img/svg/languages/js.svg">
                    <div class="list-text">
                        <h2>Quotes</h2>
                        <p>Find deals, manage quotes and find everything health insurance related here.</p>
                    </div>
                </a>
            </div>
            <div class="list-item" style="background-image: url('static/img/backgrounds/careers.jpg')">
                <a href="health"><img alt="JavaScript" src="/static/img/svg/languages/js.svg">
                    <div class="list-text">
                        <h2>Social</h2>
                        <p>Leverage people power to get better health insurance rates and services.</p>
                    </div>
                </a>
            </div>
            <div class="list-item" style="background-image: url('static/img/backgrounds/careers.jpg')">
                <a href="health"><img alt="JavaScript" src="/static/img/svg/languages/js.svg">
                    <div class="list-text">
                        <h2>Industry</h2>
                        <p>Get all the goss on new products, adverts, offers and deals from the health insurance industry.</p>
                    </div>
                </a>
            </div>



        </div>
    </div>
</div>

</header>
<style>
    .curve-bottom-1::after {
        background-image: url();
        margin-top: -1.625rem
    }
</style>