<div class="linked-list-container four">
    <div class="content">


        <div class="list">

            <div aria-describedby="signup-terms" aria-hidden="fa;se" aria-labelledby="signup-header1" class="form-wrap sign-up-step sign-up-details hidden">
                <h2 id="signup-header1">Sign up for a <span class="moltin">NoHassls</span> account
                </h2>

                <form action="https://myrskyt.com/register" id="form" method="post" novalidate="">
                    <div class="input-wrap">
                        <label>First Name:</label>
                        <input aria-label="Name" class="name" name="username" placeholder="Name *" required="required" type="text">
                    </div>

                    <div class="input-wrap">
                        <label>Email:</label>
                        <input aria-label="Email" class="email" name="email" placeholder="Email *" required="required" type="email">
                    </div>
                    <div class="input-wrap">
                        <label>password:</label>
                        <input aria-label="Password" class="password" name="password" placeholder="Password *" required="required" type="password">
                    </div>
                    <div class="input-wrap">
                        <label>Confirm Password:</label>
                        <input aria-label="Password" class="password" name="password_confirmation" placeholder="Confirm Password *" required="required" type="password">
                    </div><button type="submit">Sign up</button>
                </form>
                <p class="small" id="signup-terms">By signing up for an account you agree to our <a href="terms.html">terms and conditions</a></p>

            </div>






        </div>
    </div>
</div>
</header>
<style>
    .curve-bottom-1::after {
        background-image: url();
        margin-top: -1.625rem
    }
</style>