<div class="banner-block" role="banner">
    <div class="content container">
        <div class="banner-text">
            <h1>TPD Insurance Control Centre</h1>
            <p>Visit our control centres below to explore.</p>
        </div>
    </div>
</div>

<div class="linked-list-container two">
    <div class="content">
        <div class="list">

            <div class="list-item" style="width:100%">
                <a href="health"><img alt="JavaScript" src="/static/img/svg/languages/js.svg">
                    <div class="list-text">
                        <h2>Health</h2>
                        <p>Find deals, manage quotes and find everything health insurance related here.</p>
                        <p> Some more text and stuff to make the box longer asdsd Find deals, manage quotes and find everything health insurance related here.Find deals, manage quotes and find everything health insurance related here.Find deals, manage quotes
                            and find everything health insurance related here.</p>
                        <h2>Health</h2>
                        <p>Find deals, manage quotes and find everything health insurance related here.</p>
                        <p> Some more text and stuff to make the box longer</p>
                        <h2>Health</h2>
                        <p>Find deals, manage quotes and find everything health insurance related here.</p>
                        <p> Some more text and stuff to make the box longer</p>
                        <h2>Health</h2>
                        <p>Find deals, manage quotes and find everything health insurance related here.</p>
                        <p> Some more text and stuff to make the box longer</p>
                        <h2>Health</h2>
                        <p>Find deals, manage quotes and find everything health insurance related here.</p>
                        <p> Some more text and stuff to make the box longer</p>
                        <h2>Health</h2>
                        <p>Find deals, manage quotes and find everything health insurance related here.</p>
                        <p> Some more text and stuff to make the box longer</p>
                        <h2>Health</h2>
                        <p>Find deals, manage quotes and find everything health insurance related here.</p>
                        <p> Some more text and stuff to make the box longer</p>
                        <h2>Health</h2>
                        <p>Find deals, manage quotes and find everything health insurance related here.</p>
                        <p> Some more text and stuff to make the box longer</p>
                        <h2>Health</h2>
                        <p>Find deals, manage quotes and find everything health insurance related here.</p>
                        <p> Some more text and stuff to make the box longer</p>
                        <h2>Health</h2>
                        <p>Find deals, manage quotes and find everything health insurance related here.</p>
                        <p> Some more text and stuff to make the box longer</p>
                        <h2>Health</h2>
                        <p>Find deals, manage quotes and find everything health insurance related here.</p>
                        <p> Some more text and stuff to make the box longer</p>
                    </div>
                </a>
            </div>

        </div>
    </div>
</div>

</header>